// ClazzJson file configuration.


path {
    jars = '''
    '''

    libs = '''
        /Users/shi/Project/chunqishi/lapps/edu.brandeis.cs.opennlp-web-service/target/:
        /Users/shi/Project/chunqishi/lapps/edu.brandeis.cs.opennlp-web-service/target/opennlp-web-service#0.0.2-SNAPSHOT/WEB-INF/lib/:
        /Users/shi/Project/chunqishi/lapps/edu.brandeis.cs.stanfordnlp-web-service/target/:
        /Users/shi/Project/chunqishi/lapps/edu.brandeis.cs.stanfordnlp-web-service/target/stanfordnlp-web-service/WEB-INF/lib/
    '''
}