// ClazzJson file configuration.


path {
    jars = '''
    '''

    libs = '''
        target:git_local
    '''
}



git {

    local = '''
        git_local
    '''

    urls = '''
        https://github.com/chunqishi/edu.brandeis.cs.opennlp-web-service.git
        https://github.com/chunqishi/edu.brandeis.cs.stanfordnlp-web-service.git
    '''

}